﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="customerMasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Custom.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        div {
            border: 0px solid;
        }

        .menu {
            height: 1000px;
        }

        .content {
            height: 1000px;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }
        .tb-font{
            font-size:x-large;
        }
        .mytd:hover{
            transition: 0.5s ease;
            background-color:white;
            
        }
    </style>
</head>
<body>
    <script src="Scripts/jquery-2.2.3.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <form id="form1" runat="server">
        <div>
            <div class="row" style="background-color: aqua">
                <div class="col-xs-10 col-xs-offset-2 ">
                    <span style="font-size: xx-large">火車訂票系統</span>
                </div>
            </div>
            <div class="col-xs-3 col-sm-2 menu text-center" style="background-color:darkgray;">
                <div class="row" style="height: 50px"></div>
                <table class="tb-font" >
                    <tr>
                        <td class="mytd">
                            <asp:LinkButton ID="LinkButton1" runat="server" PostBackUrl="~/index.aspx">首頁</asp:LinkButton>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp</td>
                    </tr>
                    <tr>
                        <td class="mytd">
                            <asp:LinkButton ID="LinkButton2" runat="server" PostBackUrl="~/book.aspx">訂票</asp:LinkButton>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp</td>
                    </tr>
                    <tr>
                        <td class="mytd">
                            <asp:LinkButton ID="LinkButton3" runat="server" PostBackUrl="~/search.aspx">查詢班次</asp:LinkButton>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp</td>
                    </tr>
                    <tr>
                        <td class="mytd">
                            <asp:LinkButton ID="LinkButton4" runat="server" PostBackUrl="~/book_result_search.aspx">查詢訂票資訊</asp:LinkButton>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-9 col-sm-10 content" style="background-image: url(src/雲朵背景二.jpg)">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </form>
</body>
</html>
